@import url('https://fonts.googleapis.com/css?family=Merriweather');

.message-list-container {
  height:89.5vh;
  margin:0;
  background:#F9F8F2;
  display:inline-block;
  overflow: hidden;
  min-height: 0;
  min-width: 0;
}

.test {
  font-size: 2em;
  font-family:'Merriweather';
}

.message-list {
  padding:40px;
  display:inline-flex;
  flex-direction: column-reverse; 
  align-items: flex-start;
  overflow-y: scroll;
  width:100%;
  height:60vh;
  min-height:0;
  min-width: 0;
}

.shared {
  width:80%;
}

.full {
  width:100%;
}

.toggle-rooms {
  bottom:43vh;
  transform: translateY(-50%) rotate(-90deg);
  border:none;
  background: none;
  position: absolute;
}

.toggle-rooms:hover {
  box-shadow: 1px 1px 3px #888888;
}

.on {
  left:19%;
}

.off {
  left:-2.5%;
}

@media(max-width:668px) {
  .message-list {
    padding: 20px;
  }

  .message-list p {
    width:75%;
  }
  
  .shared{
    display: none;
  }

  .message-list-container {
    width:100%;
  }
}